<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Notificação de Licitação Vencida</title>
</head>
<body>
    <p>Prezado [nome do cliente],</p>
    <p>É com grande satisfação que informamos que sua proposta foi aceita e que você venceu a licitação para o [nome do produto] em nosso Leilão Judicial. Parabéns pela sua aquisição! Estamos muito felizes por poder fazer negócios com você.</p>
    <p>Para completar a compra, pedimos que siga cuidadosamente as instruções abaixo:</p>
    <ol>
        <li>Transfira o montante total do valor arrematado para a seguinte conta bancária:</li>
        <ul>
            <li>Nome do Banco: XYZ</li>
            <li>Número da conta: 1234567890</li>
            <li>Titular da conta: LJ Leilão Judicial</li>
            <li>Valor a ser pago: [valor do lance]</li>
        </ul>
        <li>Após realizar o pagamento, traga a confirmação do mesmo no tribunal judicial juntamente com seus documentos para o processo de entrega do produto.</li>
    </ol>
    <p>Agradecemos por participar do nosso leilão e esperamos poder realizar negócios com você novamente em breve.</p>
    <p>Atenciosamente,</p>
    <p>Equipe Judicial de Leilão</p>
</body>
</html>
