
{% extends "auctions/layout.html" %}

{% block title %}
Termos e Condições - Sistema de Leilão do Tribunal Judicial da Beira
{% endblock %}

{% block body %}

  <div class="container my-5">
    <h1 class="text-center mb-5">Termos e Condições</h1>
    <p>Bem-vindo ao sistema de leilão do Tribunal Judicial da Beira. Ao utilizar nosso sistema, você concorda com os seguintes termos e condições:</p>
    <ol>
      <li>O sistema de leilão do Tribunal Judicial da Beira é exclusivamente destinado ao uso em processos judiciais. Qualquer uso não autorizado do sistema é proibido e pode resultar em ações legais.</li>
      <li>O Tribunal Judicial da Beira não é responsável pela autenticidade ou qualidade dos itens leiloados. Todas as informações fornecidas sobre os itens são de responsabilidade do vendedor.</li>
      <li>O Tribunal Judicial da Beira reserva-se o direito de rejeitar qualquer oferta por qualquer motivo. A decisão do Tribunal é final e não pode ser contestada.</li>
      <li>O pagamento deve ser efetuado no prazo estipulado no leilão. Caso o pagamento não seja realizado no prazo estipulado, o lance pode ser cancelado e o item será leiloado novamente.</li>
      <li>O comprador é responsável pelo pagamento do valor total do item, incluindo todas as taxas e impostos aplicáveis.</li>
      <li>Todos os itens são vendidos "como estão", sem garantia expressa ou implícita. O Tribunal Judicial da Beira não é responsável por quaisquer danos causados ao item após a conclusão do leilão.</li>
      <li>O comprador é responsável pelo transporte do item adquirido. O Tribunal Judicial da Beira não se responsabiliza pelo transporte do item.</li>
      <li>O Tribunal Judicial da Beira reserva-se o direito de cancelar qualquer leilão a qualquer momento, sem aviso prévio.</li>
      <li>O Tribunal Judicial da Beira pode, a qualquer momento e a seu exclusivo critério, modificar ou descontinuar o sistema de leilão sem aviso prévio.</li>
      <li>O comprador reconhece que leu e entendeu todos os termos e condições do sistema de leilão do Tribunal Judicial da Beira.</li>
    </ol>
    <p class="mt-5">Ao utilizar nosso sistema de leilão, você concorda em cumprir todos os termos e condições acima mencionados. Se tiver alguma dúvida ou preocupação, entre em contato com o Tribunal Judicial da Beira antes de fazer uma oferta.</p>
  </div>
  <style>
    body {
      font-size: 16px; /* aumentei um pouco a fonte para facilitar a leitura */
      font-family: Arial, sans-serif; /* selecionei uma fonte mais fácil de ler */
    }
    p {
        text-align: justify;
        margin-bottom: 1.5em; /* adicionei um espaço extra entre os parágrafos para melhorar a legibilidade */
    }
    body {
        line-height: 1.5;
      }
  </style>
{% endblock %}
